
  body { 
      font:system; 
      background: #AAAAAA url(logo_alfa.png) no-repeat 100% 100%; 
      font:12pt monospace;
      color:white;
	  }

section {
	background-color: #777777;
        border-radius: 5px; 
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
        padding: 1px;
}

  h2 {
      border-radius: 5px; 
	  border:1px solid #01579b; 
	  margin-top: 0px; 
	  margin-bottom: 5px; 
	  padding: 0px;
  	  background-color: #e68a00;
	  color: #FFFFFF;
	  font:system;
          font-size:16px;
          font-weight:bold;
	  text-align:center;
	  }

P { FONT-FAMILY:Verdana; FONT-SIZE:10pt; width:*;  }

code { 
/*FONT-FAMILY:Verdana;*/
      font:system;
      font-size:16px;
      font-weight:bold;
	}
/*--------------------------------------*/

